.login-block{
    background: #3c66da;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #474749, #3d3d3f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #0a0a0a, #f9fafc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }